PORT=8080
JWT_SECRET=your_jwt_secret_key

AUTH_SERVICE_URL=http://auth-service:3001
USER_SERVICE_URL=http://user-service:3002
CLINIC_SERVICE_URL=http://clinic-service:3003
DOCTOR_SERVICE_URL=http://doctor-service:3004
SCHEDULING_SERVICE_URL=http://scheduling-service:3005
APPOINTMENT_SERVICE_URL=http://appointment-service:3006
NOTIFICATION_SERVICE_URL=http://notification-service:3007
